section.section-landing {
  margin-top: 44px;
  &:last-of-type {
    margin-bottom: 44px;
  }
  &:first-of-type {
    margin-top: 80px;
  }

  @include respond-to(md) {
    margin-top: 100px;
    &:last-of-type {
      margin-bottom: 100px;
    }
    &:first-of-type {
      margin-top: 200px;
    }
  }

  @include respond-to(xxl) {
    margin-top: 120px;
    &:last-of-type {
      margin-bottom: 120px;
    }
    &:first-of-type {
      margin-top: 230px;
    }
  }
}

#first-big-image {

  img {
    border-radius: 0;
    width: 100%;

    @include respond-to(md) {
      border-radius: 24px;
      height: auto;
    }
  }
}

#second-about-section {
  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 21px;
  }

  @include respond-to(md) {
    h2 {
      font-size: 24px;
    }
  }

  @include respond-to(lg) {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 36px;
    }
  }

  #carouselSecondSection {

    .carousel-number-arrow {
      position: absolute;
      bottom: 0;
       color: $primary;

      span:last-child {
        //margin-left: 70px;
      }
      span:nth-child(2) {
        width: 68px;
        margin-left: 5px;
        margin-right: 5px;
        content: " ";
        border-bottom: 1px solid $primary;
      }
    }

    .carousel-control-prev, .carousel-control-next {
      opacity: 1;
      padding: 0;
      top: unset;
      bottom: 0;
      left: unset;
      right: unset;
      font-size: 28px;
    }

    .carousel-control-next {
      right: 0;
    }
    .carousel-control-prev {
      right: 3rem;
    }

    .carousel-item {
      color: $gray-text-slider;
      font-size: 16px;

      @include respond-to(lg) {
        font-size: 18px;
      }
    }
  }
}

#third-info-section {

  .item-info {

    margin-top: 24px;

    @include respond-to(md) {
      margin-top: 48px;
    }

    @include respond-to(lg) {
      margin-top: 0px;
      padding: 32px;
      transition: 0.5s;

      &:hover {
        box-shadow: 0px 8px 20px #E4E5E8;
        border-radius: 16px;
      }
    }

    h4 {
      font-size: 18px;

      @include respond-to(md) {
        font-size: 21px;
      }

      @include respond-to(lg) {
        font-size: 21px;
      }
    }

    p {
      font-size: 16px;

      @include respond-to(md) {
        font-size: 18px;
      }
    }
  }
}

#thirdCarouselSection, #eleventCarouselSection {
  .carousel-item {
    height: 100%;
  }

  @include respond-to(md) {
    img {
      border-radius: 16px;
    }
  }

  .wrapper-control {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
  }
  .carousel-control-prev, .carousel-control-next {
    position: unset;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    padding: 5px;
    background-color: $white;
    opacity: 1;
    width: unset;
    font-size: 18px;

    @include respond-to(md) {
      font-size: 32px;
    }
  }
}

#four-future-section {
  > .row {
    background-color: #F7F9FB;
    border-radius: 0;

    @include respond-to(lg) {
      padding-right: 0px !important;
      border-radius: 24px;
      //padding-bottom: 0px!important;
    }
  }

  #people-info-img {
    margin-top: 130px;

    @include respond-to(md) {
      margin-top: 50px;
    }

    @include respond-to(lg) {
      margin-top: -100px;
    }
  }

  #union {

    content: ' ';
    display: block;
    background-size: cover;
    position: absolute;

    top: 25px;
    left: calc(50% - 142px);
    width: 285px;
    height: 112px;
    background-image: url("../img/text-people-mobile.svg");

    @include respond-to(md) {
      width: 395px;
      height: 120px;
      top: calc(50%);
      left: calc(50% - 197.5px);
      background-image: url("../img/text-people-md.svg");
    }

    @include respond-to(lg) {
      width: 267px;
      height: 139px;
      top: -114px;
      right: 66%;
      left: unset;
      background-image: url("../img/text-people-lg.svg");
    }

    @include respond-to(xxl) {
      width: 373px;
      height: 94px;
      top: -82px;
      right: 66%;
      left: unset;
      background-image: url("../img/text-people-xxl.svg");
    }

  }
}

#five-info-section {
  background-image: url("../img/five-section-bg-mobile.jpg");
  background-size: cover;
  background-position: center;
  color: $white;

  p {
    opacity: 0.7;
    font-size: 16px;
    padding-bottom: 20px;

    @include respond-to(md) {
      font-size: 18px;
    }
  }

  h5 {
    font-size: 18px;

    @include respond-to(md) {
      font-size: 21px;
    }
  }

  @include respond-to(md) {
    background-image: url("../img/five-section-bg-lg.jpg");
  }

  h3 {
    font-size: 21px;

    @include respond-to(md) {
      font-size: 36px;
    }
  }

  .btn {
    border-radius: 12px;
  }
}

#six-info-section {
  p {
    color: #878C90;
    font-size: 16px;
  }
}

#seven-info-section {

  h5 {
    font-size: 21px;

    @include respond-to(md) {
      font-size: 24px;
    }

  }

  #column-gray {
    background-color: #F7F9FB;
    border-radius: 0;
    padding: 33px 15px;

    @include respond-to(md) {
      border-radius: 16px;
      padding: 33px;
    }
  }

  img {
    border-radius: 0;
    @include respond-to(md) {
      border-radius: 16px;
    }
  }

  .bar {
    list-style: none;
  }
  .bar >li {
    position: relative;
    z-index: 0;


    //list-style-position: outside;
    //list-style-image:  url("../img/dot-ul.svg");

    span {
      margin-left: 40px;
      display: block;
      padding-bottom: 16px;

      @include respond-to(md) {
        padding-bottom: 64px;
      }
    }
  }
  .bar>li:before {
    position: absolute;
    content: ' ';
    background-image: url("../img/dot-ul.svg");
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    display: inline-block;
    z-index: 2;

    @include respond-to(md) {
      top: 17%;
    }
  }
  .bar>li:after {
    z-index: -1;
    position: absolute;
    left: 10px;
    top: 0;
    content: '';
    border-left: 2px solid $primary;
    margin-left: 5px;
    height: 100%;

    @include respond-to(md) {
      top:30px;
    }
  }
  .bar >li:first-of-type:after {
    top: 0%;
    @include respond-to(md) {
      top: 36%
    }
  }
  .bar >li:last-of-type
  {
    &:after {
      top: -33%;
      height: 50%;
    }

    span {
      padding-bottom: 0;
    }
  }
  //.bar > li::marker  {
  //  margin-top: 10px;
  //}
}

#eight-poesd-section {
  > .row {
    background-image: url("../img/poesd.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }
}

#nine-maker-product-section {
  .maker-product {
    > .row {
      padding: 24px;
      border-radius: 16px;
      background: #FFFFFF;
      box-shadow: 0px 8px 20px #E4E5E8;
      height: 100%;
    }

    h5 {
      font-size: 18px;
      color: #1D1D1B;
      text-align: center;

      @include respond-to(md) {
        font-size: 21px;
      }
    }

    p {
      font-size:  16px;
      text-align: center;
      color: #878C90
    }

    &.product-primary {
      > .row {
        background: linear-gradient(126.12deg, #89F1FF -11.81%, #2983EE 95.35%);
        box-shadow: none;
      }
      h5 {
        text-align: unset;
      }
      h5, p {
        color: $white !important;
      }
    }
  }
}

#ten-product-section {
  #info-products {
    h2 {
      font-size: 21px;

      @include respond-to(md) {
        font-size: 40px;
      }
    }

    h3 {
      font-size: 18px;

      @include respond-to(md) {
        font-size: 24px;
      }
    }

    p {
      color: #878C90;
      font-size: 16px;

      @include respond-to(md) {
        font-size: 18px;
      }
    }

    ul {
      padding-left: 0;
      list-style-type: none;
      li {
        margin-top: 24px;
        font-size: 16px;

        background-image: url("../img/circle-li.svg");
        background-repeat: no-repeat;

        background-position: 0 6px;
        background-size: 16px 16px;
        padding-left: 30px;

        @include respond-to(md) {
          background-position: 0 0;
          background-size: 30px 26px;
          padding-left: 45px;
          font-size: 18px;
        }
      }
    }
  }

  #products {
    .product {
      padding: 6px 20px;

      @include respond-to(md) {
        padding: 12px 25px;
      }

      a {
        color: #2983EE;
        font-size: 16px;
      }
      > .row {
        background: #FFFFFF;
        box-shadow: 0px 8px 20px #E4E5E8;
        border-radius: 16px;
        padding: 14px;

        @include respond-to(md) {
          padding: 24px;
        }
      }

      .name {
        color: #1D1D1B;
        margin-top: 16px;
        font-size: 18px;
        font-weight: 500;
      }

      .description {
        font-size: 16px;
        color: #878C90;
        max-height: 4.5rem;
        overflow: hidden;
        position: relative;
        &:before{
          content: "";
          display: block;
          position: absolute;
          height: 4.5rem;
          width: 100%;
          bottom: 0;
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.8) 100% )
        }
      }
    }
  }
}

#eleven-slider-section {
  .wrapper-gray {
    background: #F7F9FB;
    border-radius: 16px;
    padding: 32px 52px 45px 28px;

    h3 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 24px;

      @include respond-to(md) {
        font-size: 24px;
      }
    }

    p {
      color: #878C90;
      font-size: 16px;

      @include respond-to(md) {
        font-size: 18px;
      }
    }
  }

  .wrapper-slider {
    .carousel-caption {
      text-align: left;
      background: rgba(0, 0, 0, 0.47);
      border-radius: 0px;
      right: 0;
      left: 0;
      bottom: 0;
      @include respond-to(md) {
        right: 3%;
        left: 3%;
        bottom: 1.25rem;
        border-radius: 8px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
 #slider-wr-js {
   @include respond-up(md) {
     padding: 0;
   }
 }
  .wrapper-min-img {
    overflow: hidden;
    --linerBottom: 0;

    @include respond-up(lg) {
      & > * {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    &:before{
      content: "";
      display: none;
      position: absolute;
      height: 5rem;
      width: 100%;
      bottom: var(--linerBottom);
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 1) 100% );
      @include respond-to(lg) {
        display: block;
      }
    }

    .item {

      @include respond-to(lg) {
        margin-bottom: 12px;
      }

      img {
        border-radius: 12px;
        object-fit: cover;
        cursor: pointer;
        height: 100%;

      }
    }
  }
  .btn {
    z-index: 10;

    &:focus {
      box-shadow: none;
    }
  }
}

#twelfth-section {
  .news {
    h3 {
      font-weight: 700;
      font-size: 18px;

      @include respond-to(md) {
        font-size: 21px;
      }
    }
    .description {
      color: #878C90;
      font-size: 16px;

      @include respond-to(md) {
        font-size: 18px;
      }
    }
  }
}

#thirteen-section {
  i {
    font-size: 24px;
  }

  .wrapper-gray {
    background: #F7F9FB;
    border-radius: 16px;
    padding: 30px;
    @include respond-up(md) {
      border-radius: 0;
      padding: 30px 0;
    }
  }
  .telephone {
    font-size: 32px;

    @include respond-to(md) {
      font-size: 40px;
    }
  }
  .phones {
    color: #878C90;
    font-size: 16px;
  }
  .map {
    border-radius: 16px;

    @include respond-up(md) {
      border-radius: 0!important;

      iframe {
        border-radius: 0!important;
      }
    }

    @include respond-up(lg) {
      height: 400px;
      padding: 0;

      iframe {
        height: 400px;
      }
    }

    iframe {
      border-radius: 16px;
    }
  }
}
