.navbar {
  *, .btn {
    font-size: 16px !important;
  }

  @include respond-to(md) {
    border-bottom: 1px solid #cfd4db;
  }

  @include respond-to(lg) {
    border-bottom: none
  }

  .collapse:not(.show) {
    @include respond-up(lg) {
      display: none!important;
    }
  }

  #menu-links {
    border-bottom: 1px solid transparent;
    padding-bottom: 0;
    position: relative;

    hr {
      width: 100vw;
      position: absolute;
      left: 0;
      bottom: 29%;
    }

    @include respond-to(lg) {
      border-color: #cfd4db;
    }

    a {
      position: relative;
      color: $secondary;

      &:hover, &.active {
        color: $black;
      }

      @include respond-to(lg) {
        &::after {
          content: "";
          position: absolute;
          display: block;
          top: 1px;
          height: 100%;
          width: 46px;
          left: calc(50% - 23px);
          border-bottom: 2px solid transparent;
        }

        &.active {
          &::after {
            border-bottom: 2px solid $primary!important;
          }
        }
      }
    }
  }

  #secondary-mobile-links,  {
    a {
      color: $black;
    }

    a.btn.btn-outline-gradient-primary {
      color: $primary;
    }
  }

  .navbar-toggler {
    border: none;
    border-radius: 100%;
    background-color: $primary;
    height: 40px;
    width: 40px;

    &.collapsed {
      > .navbar-toggler-icon {
        width: 100%;
        background-image: url("/public/img/arrow_menu/arrow.svg") !important;
      }
    }

    > .navbar-toggler-icon {
      width: 100%;
      background-image: url("/public/img/arrow_menu/x_arrow.svg") !important;

      @include respond-to(md) {
        width: 80%;
      }
    }

    @include respond-to(md) {
      height: 50px;
      width: 50px;
    }
  }


  //
  //@include respond-to(lg) {
  //  font-size: 18px!important;
  //}

  .navbar-brand {
    line-height: 1em;
  }
}
